@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto:ital,wght@1,300&display=swap');

body{
    background-color:lightgray;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Croissant One', cursive;
}
nav ul{
    display: flex;
    height: 50px;
    background-color: black;
    color: chartreuse;
    align-items: center;
    

}
nav ul li{
    padding: 0 10px;
}
.brand img{
    width: 40px;
    height: 40px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(spotifygirl.jpg);
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#myprogressbar{
    width: 60vw;
    text-align: center;
}
.icons{
    margin-top: 23px;
}